@keyframes flashResult {
  0% {
    opacity: 0;
    transform: scale(0.95); }
  100% {
    transform: scale(1);
    opacity: 1; } }

.shortened__single {
  border-bottom: solid 1px #f0f0f0;
  font-size: 14px;
  position: relative;
  padding: 10px 60px 10px 0;
  animation: flashResult 0.75s; }
  .shortened__single .url-short {
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000000;
    height: 20px;
    max-width: 85%;
    text-decoration: none; }
  .shortened__single .url-original {
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #cccccc;
    height: 20px;
    margin: 2px 0; }

.btn-delete__single {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: transparent;
  border: none;
  color: #bbbbbb;
  font-size: 14px;
  outline: none; }
  .btn-delete__single:hover {
    cursor: pointer; }
    .btn-delete__single:hover .icon__delete {
      opacity: 1; }

.icon__delete {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
  width: 12px; }
