@import './assets/global-styles/bootstrap';

.shortened__single {
    border-bottom: solid 1px $off-white;
    font-size:14px;
    position: relative;
    padding: $spacer/2 60px $spacer/2 0;
    animation: flashResult 0.75s;
    
    .url-short {
        @include ellipsis;
        color: $black;
        height: $spacer;
        max-width: 85%;
        text-decoration:none; 
    }

    .url-original {
        @include ellipsis;
        color: $grey;
        height: $spacer;
        margin: 2px 0;
    }
}

.btn-delete__single {
    @include position-top-right(absolute, 0, 0);
    @include dimensions(50px, 100%);
    background: transparent;
    border:none;
    color: $darker-grey; 
    font-size: 14px;
    outline: none;

    &:hover {
        cursor: pointer;
        
        .icon__delete {
            opacity: 1;
        }
    }
}

.icon__delete {
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
    width:12px;
}