@keyframes flashResult {
  0% {
    opacity: 0;
    transform: scale(0.95); }
  100% {
    transform: scale(1);
    opacity: 1; } }

.submit__wrapper {
  display: flex;
  justify-content: space-between; }

.submit__input {
  background: #f0f0f0;
  border: none;
  flex-grow: 2;
  font-size: 16px;
  height: 50px;
  outline: none;
  padding-left: 20px; }

.btn__submit {
  background: #50C9C3;
  border: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  outline: none;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in; }
  @media screen and (min-width: 768px) {
    .btn__submit {
      font-size: 14px;
      letter-spacing: 4px; } }
  .btn__submit:hover {
    background: #36b0aa;
    cursor: pointer; }
