@import './assets/global-styles/bootstrap';

// Variables
$btn-height:        50px;

.submit {
    &__wrapper {
        display:flex;
        justify-content: space-between;
    }

    &__input {
        background: $off-white;
        border:none;
        flex-grow:2;
        font-size: 16px;
        height: $btn-height;
        outline:none;
        padding-left: $spacer;
    }
}

.btn__submit {
    background: #50C9C3;
    border:none;
    color: $white;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    outline: none;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    
    @include media-query(md) {
        font-size: 14px;
        letter-spacing: 4px;
    }

    &:hover {
        background: darken(#50C9C3, 10%);
        cursor: pointer;
    }
}