@import './assets/global-styles/bootstrap';

$delete-all-height:     50px;

.btn-delete__all {
    @include dimensions(100%, $delete-all-height);
    @include position-bottom-left(absolute, -$delete-all-height, 0);
    background: $pomegranate;
    box-shadow: 0 $spacer/2 $spacer rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s ease-in-out;

    &:hover {
        background: darken($pomegranate, 10%);
        cursor: pointer;
    }
}

.shortened__wrapper {
    // this is so that I can add the new item to the top of the list and also animate it otherwise the bottom one fades in
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    padding: 0 $spacer;

    &-placeholder {
        color: $grey;
        text-align: center;
        padding: $spacer*1.5 $spacer/2;
    }
    &-title {
        background: $wedgewood;
        color: $white;
        padding: $spacer/2 $spacer;
    }
}