@keyframes flashResult {
  0% {
    opacity: 0;
    transform: scale(0.95); }
  100% {
    transform: scale(1);
    opacity: 1; } }

.btn-delete__all {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: -50px;
  right: 0;
  background: #f9497b;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s ease-in-out; }
  .btn-delete__all:hover {
    background: #f71857;
    cursor: pointer; }

.shortened__wrapper {
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
  padding: 0 20px; }
  .shortened__wrapper-placeholder {
    color: #cccccc;
    text-align: center;
    padding: 30px 10px; }
  .shortened__wrapper-title {
    background: #4E789A;
    color: #ffffff;
    padding: 10px 20px; }
