@import './assets/global-styles/bootstrap';

// Variables
$app-max-width:         600px;
$app-body-max-height:   360px;
$app-logo-width:        75px;

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #8e9eab;
    background: linear-gradient(to left, #eef2f3, #8e9eab);
    margin: 0;
    padding:100px $spacer;
}

.app {
    &__wrapper {
        @include dimensions(100%, auto);
        border-radius: 3px;
        box-shadow: 0 $spacer/2 $spacer rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        display:block;
        margin: 0 auto;
        max-width: $app-max-width;
        position:relative;
        z-index:1;
    }
    &__body {
        background: $white;        
        max-height: $app-body-max-height;
        overflow-y:scroll;
    }
    &__header {
        background: #4B79A1;
        background: linear-gradient(to right, #283E51, #4B79A1);
        color: $white;
        letter-spacing: 6px;  
        line-height: 1.6;
        padding:$spacer;
        text-align: center;
        text-transform: uppercase;
    }
    &__title {
        font-size: 24px;
        margin: 5px;
    }

}

.logo {
    width: $app-logo-width;
}