@keyframes flashResult {
  0% {
    opacity: 0;
    transform: scale(0.95); }
  100% {
    transform: scale(1);
    opacity: 1; } }

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

body {
  background: #8e9eab;
  background: linear-gradient(to left, #eef2f3, #8e9eab);
  margin: 0;
  padding: 100px 20px; }

.app__wrapper {
  width: 100%;
  height: auto;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: block;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  z-index: 1; }

.app__body {
  background: #ffffff;
  max-height: 360px;
  overflow-y: scroll; }

.app__header {
  background: #4B79A1;
  background: linear-gradient(to right, #283E51, #4B79A1);
  color: #ffffff;
  letter-spacing: 6px;
  line-height: 1.6;
  padding: 20px;
  text-align: center;
  text-transform: uppercase; }

.app__title {
  font-size: 24px;
  margin: 5px; }

.logo {
  width: 75px; }
