
// width and height
@mixin dimensions($width, $height) {
    width: $width;
    height: $height;
}
// used for an ellipsis effect on the on of a line of text
@mixin ellipsis {
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// position mixin
@mixin position-top-left($position, $top, $left) {
    position: $position;
    top: $top;
    left: $left;
}

@mixin position-top-right($position, $top, $right) {
    position: $position;
    top: $top;
    right: $right;
}

@mixin position-bottom-left($position, $bottom, $right) {
    position: $position;
    bottom: $bottom;
    right: $right;
}

@keyframes flashResult {
    0% {
		opacity: 0;
		transform: scale(0.95);
	}

    100% {
        transform: scale(1.0);
        opacity: 1;
    }
}

// full width overlay
@mixin overlay($z-index) {
	@include dimensions(100%, 100%);
	@include position-top-left(absolute, 0, 0);
	content:'';
	z-index: $z-index;
}

@mixin media-query($mq) {
	$breakpoint-found: false;
	@each $breakpoint in $breakpoints {
		$alias:     nth($breakpoint, 1);
		$condition: nth($breakpoint, 2);

		@if $mq == $alias and $condition {
			$breakpoint-found: true;

			@media #{$condition} {
				@content;
			}

		}

	}

	// If the user specifies a non-exitent alias, send them a warning.
	@if $breakpoint-found == false {
		@warn "Oops! Breakpoint #{$mq} does not exist."
	}

}